<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
  <h1 class="ui dividing header">Welocme!</h1>

  <div class="row">
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
      ligula eget dolor! Aenean massa? Cum sociis natoque penatibus et magnis dis
      parturient montes, nascetur ridiculus mus; Donec quam felis, ultricies nec,
      pellentesque eu, pretium quis, sem; Nulla consequat massa quis enim!
    </p>
  </div>
</div>
</body>
</html>
